<div class="article-link">
  <div class="article-link__date fs14 color-accent b ttu">
    {{date format="MMM DD"}}
  </div>
  <div>
    <a href="{{url}}" title="{{title}}" class="nolink color-text">{{title}}</a>
  </div>
</div>