<div class="cover ">
  <div class="home__courses">
  <a class="courses-box color-text nolink mt2" href="https://courses.upscprep.com/products/prelims-360-mentorship-gs-csat/">
    <div>

    <h2 class="mb1 tc">Prelims 360 + Mentorship</h2>
    <ul style="padding-left: 30px;">
      <li>One stop fast track course for UPSC Prelims</li>
      <li>Includes GS and CSAT</li>
      <li>Weekly Current Affairs</li>
      <li>Test Series Included (35 Tests)</li>
      <li>Daily Two Live classes - with Recording access for 3 years</li>
      <li>Complete strategy to clear Prelims</li>
    </ul>
    </div>
    <div>

    <p class="course-launch-msg tc">Admissions Open</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>
  </a>
  <a class="courses-box color-text nolink mt2" href="https://courses.upscprep.com/products/gs-360-mentorship/">
    <div>

    <h2 class="mb1 tc">GS 360 + Mentorship</h2>
    <ul style="padding-left: 30px;">
      <li>A crash course for UPSC CSE Prelims 2024 - complete revision of all GS Subjects</li>
      <li>Includes Personalised Mentorship and Test Series</li>
      <li>Covers all prelims static syllabus + Current Affairs</li>
      <li>4 Months Course</li>
    </ul>
    </div>
    <div>

    <p class="course-launch-msg tc">Admissions Open</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>
  </a>
  <a class="courses-box color-text nolink mt2" href="https://courses.upscprep.com/products/csat-360-mentorship/">
    <div>

    <h2 class="mb1 tc">CSAT 360 + Mentorship Course</h2>
    <ul style="padding-left: 30px; ">
      <li>One stop solution for CSAT</li>
      <li>Course as per new CSAT pattern</li>
      <li>Comprehensive Coverage of ALL CSAT topics</li>
      <li>CSAT Workbook</li>
      <li>Includes CSAT Test Series</li>
    </ul>
    </div>
    <div>

    <p class="course-launch-msg tc">Admissions Open</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>

</a>
  <a class="courses-box color-text nolink mt2" href="https://courses.upscprep.com/products/prelims-360-advance-course-with-mentorship/">
    <div>

    <h2 class="mb1 tc">UPSC Essential (Fast Track)</h2>
    <ul style="padding-left: 30px;">
      <li>Fast Track Course for UPSC 2024 - Covers both UPSC Prelims and UPSC Mains</li>
      <li>Personalised Mentorship </li>
      <li>Includes both Prelims and Mains Test Series with evaluation</li>
      <li>Crisp notes and value addition material</li>
      <li>Current affairs coverage from Prelims and Mains Perspective</li>
    </ul>
    </div>
    <div>
    <p class="course-launch-msg tc">Admissions Open</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>

    </a>
  <a class="courses-box color-text nolink mt2" href="https://courses.upscprep.com/products/sociology-comprehesive-course-test-series-with-mentorship/">
    <div>

    <h2 class="mb1 tc">Sociology Comprehesive Course with Mentorship</h2>
    <ul style="padding-left: 30px;">
      <li>Complete coverage of sociology syllabus (both Paper 1 and 2)</li>
      <li>Includes personlised mentorship</li>
      <li>Answer Writing Practice in class itself</li>
      <li>Crisp notes and value addition material</li>
      <li>Current affairs coverage from Sociological Perspective</li>
    </ul>
    </div>
    <div>
    <p class="course-launch-msg tc">Admissions Open</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>
  </a>
  <a class="courses-box color-text nolink mt2" href="https://courses.upscprep.com/products/?category=43">
    <div>

    <h2 class="mb1 tc">Yearlong Integrated Test Series 2024 + Mentorship</h2>
    <ul style="padding-left: 30px; ">
      {{!-- <li>1.5 Year long test series for UPSC</li> --}}
      <li>Includes GS Prelims, CSAT and Mains Tests</li>
      <li>Targeted towards UPSC 2024</li>
      <li>Includes Special Workshops for Prelims and Mains</li>
    </ul>
    </div>
    <div>

    <p class="course-launch-msg tc">Admissions Open</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>
  </a>
  <a class="courses-box color-text nolink mt2" href="https://courses.upscprep.com/products/?category=76">
    <div>

    <h2 class="mb1 tc">Sociology Test Series + Mentorship</h2>
    <ul style="padding-left: 30px;">
      <li>Complete coverage of sociology syllabus through test series</li>
      <li>Well researched apt model solutions</li>
      <li>Evaluation by experts with personlised mentorship session after every test</li>
    </ul>
    </div>
    <div>
    <p class="course-launch-msg tc">Admissions Open</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>
  </a>
  <a class="courses-box color-text nolink mt2" href="https://courses.upscprep.com/products/?category=77">
    <div>

    <h2 class="mb1 tc">GS Daily Answer Writing (DAW) + Mentorship</h2>
    <ul style="padding-left: 30px;">
      <li>Practice answer writing with daily two questions</li>
      <li>Get your answers evaluated within 48 hours</li>
      <li>UPSC like questions with model solutions</li>
    </ul>
    </div>
    <div>
    <p class="course-launch-msg tc">Admissions Open</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>

  </a>
  <a class="courses-box color-text nolink mt2" href="https://courses.upscprep.com">
    <div>

    <h2 class="mb1 tc">UPSC Essential + Mentorship for 2025/26</h2>
    <ul style="padding-left: 30px;">
      <li>1.5 Year Comprehensive UPSC Foundation to Advance course</li>
      <li>Includes Prelims, Mains and CSAT</li>
      <li>Weekly Current Affairs</li>
      <li>Test Series Included (46 tests) with Evaluation</li>
    </ul>
    </div>
    <div>
    <p class="course-launch-msg tc">Coming Soon</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>

  </a>
  <a class="courses-box color-text nolink mt2" href="#">
    <div>

    <h2 class="mb1 tc">Sociology Daily Answer Writing + Mentorship</h2>
    <ul style="padding-left: 30px;">
      <li>Practice answer writing with daily two questions</li>
      <li>Get your answers evaluated within 48 hours</li>
      <li>UPSC like questions with model solutions</li>
    </ul>
    </div>
    <div>
    <p class="course-launch-msg tc">Coming soon</p>
    <p class="know-more-btn">
      <button>
        Know More
      </button>
    </p>
    </div>
  </a>
</div>
  <button class="carousel-control courses__left-arrow">&lt;</button>
  <button class="carousel-control courses__right-arrow">&gt;</button>


</div>
<script>
const courseContainer = document.querySelector('.home__courses');
const leftArrow = document.querySelector('.courses__left-arrow');
const rightArrow = document.querySelector('.courses__right-arrow');

let coursePosition = 0;
const courseBlocks = Array.from(document.querySelectorAll('.courses-box'));
const courseWidth = courseBlocks[0].offsetWidth;
const numCourses = courseBlocks.length;

leftArrow.addEventListener('click', scrollCoursesRight);
rightArrow.addEventListener('click', scrollCoursesLeft);

function scrollCoursesLeft() {
  coursePosition = Math.max(coursePosition - courseWidth -30, -((numCourses - 2) * courseWidth));
  scrollToCoursePosition();
}

function scrollCoursesRight() {
  coursePosition = Math.min(coursePosition + courseWidth + 30, 0);
  scrollToCoursePosition();
}

function scrollToCoursePosition() {
  courseContainer.style.transform = `translateX(${coursePosition}px)`;
}

function autoScrollCourses() {
  coursePosition -= courseWidth;
  if (coursePosition < -((numCourses - 2) * courseWidth)) {
    coursePosition = 0;
  }
  scrollToCoursePosition();
}

let courseScrollInterval = setInterval(autoScrollCourses, 5000);

courseContainer.addEventListener('mouseenter', () => {
  clearInterval(courseScrollInterval);
});

courseContainer.addEventListener('mouseleave', () => {
  courseScrollInterval = setInterval(autoScrollCourses, 5000);
});


</script>