<li class="toc-list-item {{#has slug='prelims-test-series'}}is-active-li{{/has}}">
  <a href="/upsc-prelims-test-series/" class="toc-link {{#has slug='prelims'}}is-active-link{{/has}}">Prelims Test Series</a>
</li>
<li class="toc-list-item {{#has slug='mains-test-series'}}is-active-li{{/has}}">
  <a href="/upsc-mains-test-series-mentorship/" class="toc-link {{#has slug='mains'}}is-active-link{{/has}}">Mains Test Series</a>
</li>
<li class="toc-list-item {{#has slug='integrated-test-series'}}is-active-li{{/has}}">
  <a href="/upsc-integrated-test-series/" class="toc-link {{#has slug='sociology'}}is-active-link{{/has}}">Integrated Test Series</a>
</li>