<a aria-label="logo" class="nolink color-text" href="{{@site.url}}">
{{#if @site.logo}}
<img src="{{@site.logo}}" class="logo"  alt="UPSC IAS exam preparation with Mentors"  width="300" height="42"> 
{{else}}
<h1>{{@site.title}}</h1>
{{/if}}
</a>