<div class="testimonial-carousel">
  <div class="carousel-container">
    <div class="testimonial-box">
        <div class="testimonial">
      <div class="img-section">
      <img src="https://www.upscprep.com/content/images/2024/01/dikshita-pic---Dikshita-Joshi.jpg" alt="Testimonial 3" class="testimonial-image">
      <a class="watch-video-btn" href="https://www.youtube.com/watch?v=dJxtl8TwqDI">
<button>Watch Video</button>

      </a>
      </div>
      <div>
      <h2 class="testimonial-name">Dikshita Joshi</h2>
      <h4 class="testimonial-rank">AIR 58, UPSC CSE23</h4>
      <p class="testimonial-text">I used to talk with UPSCprep mentors regularly. It helped me uplift myself in phases of self-doubt. Comfidence boost by mentors helped me a lot while writing mains.</p>
      </div>
        </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial">
      <div class="img-section">
      <img src="https://www.upscprep.com/content/images/2024/01/1593936372365---Pourush-Sood.jpg" alt="Testimonial 3" class="testimonial-image">
      <a class="watch-video-btn" href="https://youtu.be/UH9dqq8Q0T4?si">
<button>Watch Video</button>

      </a>
      </div>
      <div>
      <h2 class="testimonial-name">Pourush Sood</h2>
      <h4 class="testimonial-rank">AIR 29, UPSC CSE23</h4>
      <p class="testimonial-text">UPSCprep team is incredible in terms of authentic guidance and mentorship when we need it the most. Their personalised attention made a real difference in my preparation.</p>
      </div>
        </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial">
      <div class="img-section">
      <img src="https://www.upscprep.com/content/images/2023/05/srinivas.png" alt="Testimonial 3" class="testimonial-image">
      <a class="watch-video-btn" href="https://youtu.be/_WoL3ZRaeC4">
<button>Watch Video</button>
      </a>
      </div>
      <div>
      <h2 class="testimonial-name">Srinivas Sadi</h2>
      <h4 class="testimonial-rank">UPSC CSE AIR 310</h4>
      <p class="testimonial-text">UPSCprep's Mains Focus Group is such a great initiative. I recommend every mains appearing student should join it! I found their test series to be most unique in the market and close to actual UPSC exam, great work done by the team.</p>
      </div>
        </div>
    </div> 
    <div class="testimonial-box">
    <div class="testimonial">
      <div class="img-section">
      <img src="https://www.upscprep.com/content/images/2023/05/adityap.jpg" alt="Testimonial 1" class="testimonial-image">
      <a class="watch-video-btn" href="https://www.youtube.com/watch?v=RViF4rUK5PM&t=18s">
<button>Watch Video</button>
      </a>
      </div>
      <div>
      <h2 class="testimonial-name">Aditya Patle</h2>
      <h4 class="testimonial-rank">UPSC CSE AIR 375</h4>
      <p class="testimonial-text">I am thankful for the expert mentors from UPSCprep.com. They provided me the right direction with individualised attention. All this at a very affordable cost.</p>
      
      </div>
    </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial">
      <div class="img-section">
      <img src="https://www.upscprep.com/content/images/2023/05/sneha.png" alt="Testimonial 3" class="testimonial-image">
      <a class="watch-video-btn" href="https://youtu.be/_WoL3ZRaeC4">
<button>Watch Video</button>
      </a>
      </div>
      <div>
      <h2 class="testimonial-name">Sneha Arugula</h2>
      <h4 class="testimonial-rank">UPSC CSE AIR 136</h4>
      <p class="testimonial-text">Individual attention is difficult to give, yet somehow UPSCprep.com cracked that code. Their personalised mentorship helped me a lot.</p>
      </div>
        </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial">
          <div class="img-section">
      <img src="https://www.upscprep.com/content/images/2023/05/rohit.png" alt="Testimonial 3" class="testimonial-image">
      <a class="watch-video-btn" href="https://www.youtube.com/watch?v=jqrj22AJ9K4&t=556s">
<button>Watch Video</button>
      </a>
      </div>
      <div>
      <h2 class="testimonial-name">Rohit Singh</h2>
      <h4 class="testimonial-rank">UPSC CSE AIR 480</h4>
      <p class="testimonial-text">So many students from small batch clearing this exam shows that UPSCprep.com is going in the right direction. I benefitted immensely from the personalised guidance by UPSCprep team.</p>
      </div>
        </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial">
          <div class="img-section">
      <img src="https://www.upscprep.com/content/images/2023/05/ananya.jpg" alt="Testimonial 1" class="testimonial-image">
      <a class="watch-video-btn" href="https://youtu.be/XyoFd-acbRo">
<button>Watch Video</button>
      </a>
      </div>
      <div>
      <h2 class="testimonial-name">M Ananya Priya</h2>
      <h4 class="testimonial-rank">UPSC CSE AIR 544</h4>
      <p class="testimonial-text">I found the questions and model answers of UPSCprep Mains Test Series useful and were of top quality with focus on content, structure, and demand of the question rather than just dumping of information like other reputed institutes.</p>
      </div>
        </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial">
          <div class="img-section">
      <img src="https://www.upscprep.com/content/images/2023/05/viku.png" alt="Testimonial 3" class="testimonial-image">
      <a class="watch-video-btn" href="https://youtu.be/qf-L3upjwAk">
<button>Watch Video</button>
      </a>
      </div>
      <div>
      <h2 class="testimonial-name">Viku Achumi</h2>
      <h4 class="testimonial-rank">UPSC CSE AIR 547</h4>
      <p class="testimonial-text">I was a part of Mains Foucs Group. It was a small group of serious aspirants. It created an environment necessary, especially for people like me who were preparing from home.</p>
      </div>
        </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial">
      <img src="https://www.upscprep.com/content/images/2023/05/ashu.png" alt="Testimonial 2" class="testimonial-image">
      <div>
      <h2 class="testimonial-name">Ashu Pant</h2>
      <h4 class="testimonial-rank">UPSC CSE AIR 193</h4>
      <p class="testimonial-text">Youtube videos and free content on UPSCprep website helped me in my preparation. Thank you Abhijeet sir and team.</p>
      </div>
        </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial">
      <img src="https://www.upscprep.com/content/images/2023/05/nivedita.jpg" alt="Testimonial 5" class="testimonial-image">
      <div>
      <h2 class="testimonial-name">Nivedita</h2>
      <h4 class="testimonial-rank">UPSC CSE AIR 572</h4>
      <p class="testimonial-text">Thank you Abhijeet sir, Shashak sir, and team for being a constant source of motivation and support throughout the journey.</p>
      </div>
        </div>
    </div>
    <div class="testimonial-box">
        <div class="testimonial">
      <img src="https://www.upscprep.com/content/images/2023/05/neetu.png" alt="Testimonial 3" class="testimonial-image">
      <div>
      <h2 class="testimonial-name">Rahul Balhara</h2>
      <h4 class="testimonial-rank">AIR 494, UPSC CSE 23</h4>
      <p class="testimonial-text">UPSCprep Interview Guidance Course is one of the most honest place to get honest guidance for the Personality Test. I would recommend everyone to attempt their mock interviews. </p>
      </div>
        </div>
    </div>
    
    
    
    
    
  </div>
  <button class="carousel-control prev">&lt;</button>
  <button class="carousel-control next">&gt;</button>
</div>



<script>
const carouselContainer = document.querySelector('.carousel-container');
const prevButton = document.querySelector('.prev');
const nextButton = document.querySelector('.next');

let currentIndex = 0;
const testimonialBoxes = Array.from(document.querySelectorAll('.testimonial-box'));
const boxWidth = testimonialBoxes[0].offsetWidth;
const numTestimonials = testimonialBoxes.length;

prevButton.addEventListener('click', () => {
  currentIndex = Math.max(currentIndex - 1, 0);
  scrollToIndex();
});

nextButton.addEventListener('click', () => {
  currentIndex = Math.min(currentIndex + 1, numTestimonials - 1);
  scrollToIndex();
});

function scrollToIndex() {
  carouselContainer.style.transform = `translateX(-${currentIndex * boxWidth}px)`;
}

function autoScroll() {
  currentIndex = (currentIndex + 1) % numTestimonials;
  scrollToIndex();
}

let scrollInterval = setInterval(autoScroll, 5000);

carouselContainer.addEventListener('mouseenter', () => {
  clearInterval(scrollInterval);
});

carouselContainer.addEventListener('mouseleave', () => {
  scrollInterval = setInterval(autoScroll, 5000);
});


</script>