<div class="essential__bottom-testimonial">
  <div class="container">
    <div class="essential__top-testimonial">
      <div class="essential__top-testimonial-reviews-container">

        {{> upsc-essential-2025/testimonials/single-testimonials
        src="https://www.upscprep.com/content/images/2024/01/1593936372365---Pourush-Sood.jpg" name="Pourush Sood"
        rank="AIR 29, UPSC CSE23"
        review="UPSCprep team is incredible in terms of authentic guidance and mentorship when we need it the most.
        Their
        personalised attention made a real difference in my
        preparation."
        youtube-link="https://youtu.be/UH9dqq8Q0T4?si"}}

        {{> upsc-essential-2025/testimonials/single-testimonials
        src="https://www.upscprep.com/content/images/2023/05/sneha.png" name="Sneha Arugula" rank="UPSC CSE AIR 310"
        review="UPSCprep's Mains Focus Group is such a great initiative. I recommend every mains appearing student
        should
        join
        it! I found their test series to be most unique in the market and close to actual UPSC exam, great work done by
        the
        team." youtube-link="https://youtu.be/_WoL3ZRaeC4"}}

        {{> upsc-essential-2025/testimonials/single-testimonials
        src="https://www.upscprep.com/content/images/2023/05/viku.png" name="Viku Achumi" rank="UPSC CSE AIR 547"
        review="I was a part of Mains Foucs Group. It was a small group of serious aspirants. It created an environment
        necessary, especially for people like me who were preparing from home."
        youtube-link="https://youtu.be/qf-L3upjwAk"}}

      </div>
    </div>
    <div class="essential__top-testimonial row-2">
      <div class="essential__top-testimonial-reviews-container">

        {{> upsc-essential-2025/testimonials/single-testimonials
        src="https://www.upscprep.com/content/images/2023/05/ananya.jpg" name="M Ananya Priya"
        rank="UPSC CSE AIR 544"
        review="I found the questions and model answers of UPSCprep Mains Test Series useful and were of top quality
        with
        focus on content, structure, and demand of the question rather than just dumping of information like other
        reputed
        institutes" youtube-link="https://youtu.be/XyoFd-acbRo"}}

        {{> upsc-essential-2025/testimonials/single-testimonials
        src="https://www.upscprep.com/content/images/2023/05/nivedita.jpg" name="Nivedita" rank="UPSC CSE AIR 572"
        review="Thank you Abhijeet sir, Shashak sir, and team for being a constant source of motivation and support
        throughout the journey."}}

        {{> upsc-essential-2025/testimonials/single-testimonials
        src="" name="Mayur" rank="UPSC CSE AIR 5"
        review="This is my first attempt.. cleared prelims and will be appearing for Mains 2022.. but Great content Sir.
        "}}

      </div>
    </div>
    <a href="https://www.upscprep.com/testimonials/"><button class="more-reviews-btn">More reviews</button></a>
    <div class="doubt">
      Still not sure , if UPSCprep.com is right for you
      give us a call at <a href="tel:+918209416936"> +91 8209416936 </a>(between 10AM to 7PM)
      or mail us at <a href="mailto:contact@upscprep.com">contact@upscprep.com</a>
    </div>
  </div>
</div>