<div class="essential__top-testimonial">
  <h2 class="upsc-essential__section-heading">UPSCprep.com is <span
      class="upsc-essential__section-heading-highlight">recommended</span> by aspirants that have cleared UPSC exam:
  </h2>

  <div class="container">
    <div class="essential__top-testimonial-reviews-container">
      {{> upsc-essential-2025/testimonials/single-testimonials
      src="https://www.upscprep.com/content/images/2024/01/dikshita-pic---Dikshita-Joshi.jpg" name="Dikshita Joshi"
      rank="AIR 58, UPSC CSE23"
      review="I found the questions and model answers of UPSCprep Mains Test Series useful and were
      of top quality with focus on content, structure, and demand of the question rather than just dumping of
      information like other reputed institutes." youtube-link="https://www.youtube.com/watch?v=dJxtl8TwqDI"}}
      {{> upsc-essential-2025/testimonials/single-testimonials
      src="https://www.upscprep.com/content/images/2023/05/srinivas.png" name="Srinivas Sadi" rank="UPSC CSE AIR 310"
      review="UPSCprep's Mains Focus Group is such a great initiative. I recommend every mains appearing student should
      join
      it! I found their test series to be most unique in the market and close to actual UPSC exam, great work done by
      the
      team." youtube-link="https://youtu.be/_WoL3ZRaeC4"}}
      {{> upsc-essential-2025/testimonials/single-testimonials
      src="https://www.upscprep.com/content/images/2023/05/rohit.png" name="Rohit Singh" rank="UPSC CSE AIR 480"
      review="So many students from small batch clearing this exam shows that UPSCprep.com is going in the right
      direction.
      I benefitted immensely from the personalised guidance by UPSCprep team."
      youtube-link="https://www.youtube.com/watch?v=jqrj22AJ9K4&t=556s"}}
    </div>
  </div>
</div>