{{!< default}}

<main class="main-content tc mt4" style="padding: 3rem 0;">
    
    <h1>{{statusCode}}</h1>
    <p>{{message}}</p>
    
    <p>You've found an error!</p>
    <p>Use the search bar up top to find what you're looking for.</p>
    <p><a class="error-link" href="{{@site.url}}">{{t "Go to home →"}}</a></p>
</main>