<div class="free-beginner-guide">
  <div class="container">
    <h2 class="upsc-essential__section-heading"> If you can maintain <span
        class="upsc-essential__section-heading-highlight">consistency, then you don’t need a course</span> to clear
      UPSC , we also provide materials at ₹0 that can help you clear UPSC,</h2>
    <div class="all-guides">

      {{> upsc-essential-2025/free-guide/single-free-guide
      guide-info="Download self study plan by clicking the link below"
      self-study=true
      guide-heading="Self study plan"
      button-label="Download plan"
      button-link="https://docs.google.com/spreadsheets/d/1KV9Th4WD1LWGH28WPXjjvJqgLHbDQu7EUYN0yhTT8c0/edit#gid=0"
      }}

      {{> upsc-essential-2025/free-guide/single-free-guide
      guide-info="Access free beginner’s guide to develop understanding of the exam and build your strategy"
      beginners=true
      guide-heading="Beginner’s guide"
      button-label="Access course"
      button-link="https://courses.upscprep.com/products/important-ncerts-upsc/"
      }}

      {{> upsc-essential-2025/free-guide/single-free-guide
      guide-info="Practice previous year questions to improve your
      prelims score"
      pyqs=true
      guide-heading="PYQs"
      button-label="Access questions"
      button-link="https://courses.upscprep.com/products/prelims-pyq-test-series/"
      }}

      {{> upsc-essential-2025/free-guide/single-free-guide
      guide-info="Build your consistency by practicing daily
      prelims
      and mains answer writing"
      daily-practice=true
      guide-heading="Daily practice"
      button-label="Access questions"
      button-link="https://www.upscprep.com/upsc-prelims-daily-practice-questions-mcq/"
      }}

      {{> upsc-essential-2025/free-guide/single-free-guide
      guide-info="Download our economy handbook and topper notes"
      notes=true
      guide-heading="Handbook/ Notes"
      button-label="Download notes"
      button-link="https://www.upscprep.com/resources/"
      }}

      {{> upsc-essential-2025/free-guide/single-free-guide
      guide-info="Access our comprehensive CSAT guide"
      syllabus=true
      guide-heading="CSAT syllabus"
      button-label="Access CSAT"
      button-link="https://www.upscprep.com/csat/"
      }}

    </div>
  </div>
</div>