<div class="essential-course-faq">
  <div class="container">
    <h2 class="upsc-essential__section-heading">FAQs on UPSC essentials 2025 course</h2>
    <details>
      <summary>Who is this course for?</summary>
      <p>
        This is a CRASH COURSE for UPSC Prelims 2024. Suitable only for people appearing in the UPSC CSE 2024 Prelims exam.</p>
    </details>
    <details>
      <summary>Are the classes live or recorded?</summary>
      <p>
        The classes are held live everyday. You then get access to the recording of the live classes for 2 additional
        years after completion of live classes</p>
    </details>
    <details>
      <summary>How often can I book mentor calls?</summary>
      <p>
        You can book UNLIMITED mentor calls. These are one-to-one discussions where your doubts are addressed
        individually
        by the mentor. You can ask ANY UPSC preparation related questions in these calls.</p>
    </details>
    <details>
      <summary>Does the CSAT course cover subjects from basics?</summary>
      <p>
        Yes. The CSAT classes cover each and every topic in Maths, Logical Reasoning and English Comprehension from
        absolute basics. You also get access to weekly doubt discussion sessions apart from the doubts taken up at the
        end
        of each class.</p>
    </details>
    <details>
      <summary>Can different discounts be clubbed?</summary>
      <p>
        Different types of discounts can’t be clubbed together. In case you are eligible for different discounts, the
        maximum discount will be given to you.</p>
    </details>
    <div id="joinnowbutton">
    {{>"upsc-prelims-2024/common/button"}}
    </div>
  </div>
</div>