<!--


<div class="essential__feature-table">
  <div class="container">
    <h2 class="upsc-essential__section-heading"><b>UPSC Essential 2025</b> is designed with mentorship from expert
      faculty
      and
      past UPSC rankers at its core
    </h2>
    <div class="feature-table-svg-wrapper desktop">
      {{>"icons/upsc-essential-2025/feature-table/feature-table-desktop"}}
    </div>
    <div class="feature-table-svg-wrapper mobile">
      {{>"icons/upsc-essential-2025/feature-table/feature-table-mobile"}}
    </div>
    {{>"upsc-essential-2025/common/button"}}
  </div>
</div>

-->
<div class="essential__feature-table">
  <h1 class="upsc-essential__section-heading">Watch demo classes by our
    <span class="upsc-essential__section-heading-highlight">expert educators</span>
  </h1>
  <br><br><br>
  <div class="desktop"> <!-- Corrected the class name here -->
    <div class="iframe">
<iframe width="400" height="240" src="https://www.youtube.com/embed/4ZUIXOgCnjg?si=T20vehfhEaia2VTh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      <div class="video titles">GS lecture by Abhijeet Yadav</div>
    </div>

    <div class="iframe">
<iframe width="400" height="240" src="https://www.youtube.com/embed/3hVlsdv8-hk?si=O35nLKCqiBxWlsEG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      <div class="video titles">CSAT lecture</div>
    </div>

    <div class="iframe">
<iframe width="400" height="240" src="https://www.youtube.com/embed/bNTpr_QcO54?si=mbuNW9pe4JjaZagH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      <div class="video titles">Prelims important topics</div>
    </div>
  </div>
</div>
