<div class="essential__hero">
  {{#page}}
  <div class="essential__banner container">
    <div  class="home__intro mt2">
      <h1 class="upsc-essential__section-heading " >Cover the entire 
        <span  class="upsc-essential__section-heading-highlight">UPSC Prelims 2024</span>
<<<<<<< HEAD
        syllabus <br>
With past UPSC Rankers as your 
<span  class="upsc-essential__section-heading-highlight">Mentors.</span>
=======
        syllabus
with past <u>UPSC Rankers as your 
<span  class="upsc-essential__section-heading-highlight">Mentors.</span></u>
>>>>>>> e194a6b (latest code)
      </h1>
      <div class="fs20">
        {{content}}
      </div>
<<<<<<< HEAD
      <p>Get unlimited personal mentorhsip sessions to help you stay on track.</p>
=======
      <p>Get <b>unlimited personal mentorhsip</b> sessions to help you stay on track.</p>
>>>>>>> e194a6b (latest code)
      <div class=" get-course-button">
      <div >
        {{>"upsc-prelims-2024/common/button"}}
        </div>
        
      </div>
    </div>

    
  </div>
<div class="banner-images">
  <div >
<<<<<<< HEAD

      <span class="abhijeet">{{>"icons/upsc-essential-2025/mentors/ketan"}}
        <span class="hero-image-caption">Ketan 

          <br />Cleared UPSC CSE
          <br />IIT Delhi</span>
          </span>
      <span class="abhijeet">{{>"icons/upsc-essential-2025/hero/abhijeet"}}
        <span class="hero-image-caption">Abhijeet
          Yadav<br />IIT Delhi, IIM C dropout
          <br />Cleared UPSC twice</span>
          </span>
=======
       <span class="abhijeet">{{>"icons/upsc-essential-2025/hero/abhijeet"}}
        <span class="hero-image-caption">Abhijeet
          Yadav<br />IIT Delhi, IIM C dropout
          <br />Cleared UPSC CSE twice</span>
          </span>
      <span class="abhijeet">{{>"icons/upsc-essential-2025/mentors/ketan"}}
        <span class="hero-image-caption">Ketan 

          <br />IIT Delhi
          <br />Cleared UPSC CSE</span>
          </span>
     
>>>>>>> e194a6b (latest code)
          
    </div>
    <div >

      <span class="abhijeet">{{>"icons/upsc-essential-2025/hero/shashank"}}
<<<<<<< HEAD
        <span class="hero-image-caption">Abhijeet
          Yadav<br />IIT Delhi, IIM C dropout
          <br />Cleared UPSC twice</span>
          </span>
      <span class="abhijeet">{{>"icons/upsc-essential-2025/mentors/chandrashekhar"}}
        <span class="hero-image-caption">K- Chandrashekar<br />Ex - IAS
=======
        <span class="hero-image-caption">Shashank
          Ratnoo<br />Advocate,Supreme court
          <br />Cleared UPSC CSE</span>
          </span>
      <span class="abhijeet">{{>"icons/upsc-essential-2025/mentors/chandrashekhar"}}
        <span class="hero-image-caption">K Chandrashekar<br />Ex-IAS
>>>>>>> e194a6b (latest code)
          <br />IIM Bombay</span>
          </span>
          
    </div>
    <br>
    </div>










  {{/page}}
  <div class="essential__stats">
    <div class="stats-box-container">
      <div class="stats-box">
<<<<<<< HEAD
        <div class="stat-value">73</div>
        <div>Rank enabled<br />in 2 years</div>
      </div>
      <div class="stats-box">
        <div class="stat-value">11200</div>
        <div>Aspirants enrolled</div>
      </div>
=======
        <div class="stat-value">78</div>
        <div>Rank enabled in<br />UPSC CSE 2021 & 22</div>
      </div>
      <!--<div class="stats-box">
        <div class="stat-value">11200</div>
        <div>Aspirants enrolled</div>
      </div>-->
>>>>>>> e194a6b (latest code)
      <div class="stats-box">
        <div class="stat-value">14</div>
        <div>Expert led courses</div>
      </div>
      <div class="stats-box">
<<<<<<< HEAD
        <div class="stat-value">78</div>
=======
        <div class="stat-value">56</div>
>>>>>>> e194a6b (latest code)
        <div>Practice tests</div>
      </div>
    </div>
  </div>
</div>