<div class="essential__hero">
  {{#page}}
  <div class="essential__banner container">
    <div  class="home__intro mt2">
      <h1 class="upsc-essential__section-heading " >Cover the entire 
        <span  class="upsc-essential__section-heading-highlight">UPSC Prelims 2024</span>
        syllabus <br>
With past UPSC Rankers as your 
<span  class="upsc-essential__section-heading-highlight">Mentors.</span>
      </h1>
      <div class="fs20">
        {{content}}
      </div>
      <p>Get unlimited personal mentorhsip sessions to help you stay on track.</p>
      <div class=" get-course-button">
      <div >
        {{>"upsc-prelims-2024/common/button"}}
        </div>
        
      </div>
    </div>

    
  </div>
<div class="banner-images">
  <div >

      <span class="abhijeet">{{>"icons/upsc-essential-2025/mentors/ketan"}}
        <span class="hero-image-caption">Ketan 

          <br />Cleared UPSC CSE
          <br />IIT Delhi</span>
          </span>
      <span class="abhijeet">{{>"icons/upsc-essential-2025/hero/abhijeet"}}
        <span class="hero-image-caption">Abhijeet
          Yadav<br />IIT Delhi, IIM C dropout
          <br />Cleared UPSC twice</span>
          </span>
          
    </div>
    <div >

      <span class="abhijeet">{{>"icons/upsc-essential-2025/hero/shashank"}}
        <span class="hero-image-caption">Abhijeet
          Yadav<br />IIT Delhi, IIM C dropout
          <br />Cleared UPSC twice</span>
          </span>
      <span class="abhijeet">{{>"icons/upsc-essential-2025/mentors/chandrashekhar"}}
        <span class="hero-image-caption">K- Chandrashekar<br />Ex - IAS
          <br />IIM Bombay</span>
          </span>
          
    </div>
    <br>
    </div>










  {{/page}}
  <div class="essential__stats">
    <div class="stats-box-container">
      <div class="stats-box">
        <div class="stat-value">73</div>
        <div>Rank enabled<br />in 2 years</div>
      </div>
      <div class="stats-box">
        <div class="stat-value">11200</div>
        <div>Aspirants enrolled</div>
      </div>
      <div class="stats-box">
        <div class="stat-value">14</div>
        <div>Expert led courses</div>
      </div>
      <div class="stats-box">
        <div class="stat-value">78</div>
        <div>Practice tests</div>
      </div>
    </div>
  </div>
</div>