<a href="https://courses.upscprep.com/products/upsc-essential-2025-mentorship/"><button class="essential__common-btn"
    id="get_it_now">
    Get it now
    <span class="btn-icon">{{>"icons/upsc-essential-2025/hero/right-arrow"}}</span>
  </button></a>