<div class="free-beginner-guide">
  <div class="container">
    <h2 class="upsc-essential__section-heading"> Prelims360 is comprehensively designed to cover all of your preparation needs along with <span
        class="upsc-essential__section-heading-highlight"> unlimited mentor calls</span> </h2>
        <br><br>
        <h1 id="whatyouget">What you get ?</h1>
        
    <div class="all-guides">
      

      {{> upsc-prelims-2024/features/single-free-guide
      guide-info="Personalised attention and  mentor support with weekly mentor check-ins"
      self-study=true
      guide-heading="Personal Mentorship"
      
      }}

      {{> upsc-prelims-2024/features/single-free-guide
      guide-info="Past UPSC rankers are your mentors and faculty in this course. "
      beginners=true
      guide-heading="Rankers as educators"
      
      }}

      {{> upsc-prelims-2024/features/single-free-guide
      guide-info="Comprehensive CSAT workbook, 
Weekly current affairs classes"
      pyqs=true
      guide-heading=" Workbooks"
      
      }}

      {{> upsc-prelims-2024/features/single-free-guide
      guide-info="Weekly doubts sessions to ensure that you grasp the concept and remember it"
      daily-practice=true
      guide-heading="Doubts day & revision classes"
      
      }}

      {{> upsc-prelims-2024/features/single-free-guide
      guide-info="Apply Active Recall with Practice MCQs after each lecture"
      notes=true
      guide-heading="Daily practice (DPQs) "
      
      }}

      {{> upsc-prelims-2024/features/single-free-guide
      guide-info="30 Prelims GS Test series
Revision 3 times before the exam"
      syllabus=true
      guide-heading="Test series "
      
      }}
      

    </div>
    <br>
    <br>
    <h2> to Join now for  &nbsp; ₹ 8999/-</h2><br>
    <div class=" get-course-button">
      <div >
        {{>"upsc-prelims-2024/common/button"}}
        </div>
        
      </div>
  </div>
</div>