<div class="essential-footer">
  <div class="form-wrapper">
    <h3>Register here for course counselling session</h3>
    <form>
      <input placeholder="Name" />
      <input placeholder="Phone no" />
      <input placeholder="Email" />
    </form>
  </div>
</div>