<div class="upsc-essential-2025-features">
  <h1>UPSC essential 2025 - course features</h1>
  <div class="all-features">
    {{> upsc-essential-2025/single-feature gs-csat-mains=true text="GS + CSAT + Mains"}}
    {{> upsc-essential-2025/single-feature rankers-as-educators=true text="Rankers as educators"}}
    {{> upsc-essential-2025/single-feature 1v1-mentorship=true text="1v1 mentorship"}}
    {{> upsc-essential-2025/single-feature weekly-doubt-session=true text="Weekly doubt session"}}
    {{> upsc-essential-2025/single-feature access-for-3-years=true text="Access for 3 years"}}
    {{> upsc-essential-2025/single-feature 300-hrs-lecture=true text="300+ hour lecture"}}
    {{> upsc-essential-2025/single-feature interactive-lecture=true text="Interactive lectures"}}
    {{> upsc-essential-2025/single-feature practice-test=true text="500+ practice tests"}}
    {{> upsc-essential-2025/single-feature pyq-session=true text="PYQ sessions"}}
    {{> upsc-essential-2025/single-feature mains-workbook=true text="Mains workbook"}}
  </div>
</div>