<div class="feature-table">
  <h1 class="mb3">UPSC essential 2025 - course features</h1>
  <div class="feature-table-svg-wrapper">
    {{>"icons/upsc-essential/feature-list-table"}}
  </div>
  <div class="buy-button mt1">
    <button>Buy UPSC essential 2025/26</button>
  </div>
</div>