<div class="essential__feature-table">
  <div class="container">
    <h2 class="upsc-essential__section-heading"><b>UPSC Essential 2025</b> is designed with mentorship from expert
      faculty
      and
      past UPSC rankers at its core
    </h2>
    <div class="feature-table-svg-wrapper desktop">
      {{>"icons/upsc-essential-2025/feature-table/feature-table-desktop"}}
    </div>
    <div class="feature-table-svg-wrapper mobile">
      {{>"icons/upsc-essential-2025/feature-table/feature-table-mobile"}}
    </div>
    {{>"upsc-essential-2025/common/button"}}
  </div>
</div>