<div class="free-beginner-guide">
  <h1>Free UPSC beginners guide by UPSCprep.com</h1>
  <div class="all-guides">
    <div class="single-guide-wrapper">
      <div class="guide-info">
        Detailed plan to organize your study and track progress
      </div>
      <div class="guide-button-wrapper">
        <button>Access plan</button>
      </div>
    </div>
    <div class="single-guide-wrapper">
      <div class="guide-info">
        Detailed plan to organize your study and track progress
      </div>
      <div class="guide-button-wrapper">
        <button>Access plan</button>
      </div>
    </div>
    <div class="single-guide-wrapper">
      <div class="guide-info">
        Detailed plan to organize your study and track progress
      </div>
      <div class="guide-button-wrapper">
        <button>Access plan</button>
      </div>
    </div>
    <div class="single-guide-wrapper">
      <div class="guide-info">
        Detailed plan to organize your study and track progress
      </div>
      <div class="guide-button-wrapper">
        <button>Access plan</button>
      </div>
    </div>
    <div class="single-guide-wrapper">
      <div class="guide-info">
        Detailed plan to organize your study and track progress
      </div>
      <div class="guide-button-wrapper">
        <button>Access plan</button>
      </div>
    </div>
    <div class="single-guide-wrapper">
      <div class="guide-info">
        Detailed plan to organize your study and track progress
      </div>
      <div class="guide-button-wrapper">
        <button>Access plan</button>
      </div>
    </div>
  </div>
</div>