<div class="essential__hero">
  {{#page}}
  <div class="essential__banner container">
    <div class="home__intro mt2">
      <h1 class="upsc-essential__section-heading">Do you know aspirants that build daily consistency are more likely to
        <span class="upsc-essential__section-heading-highlight">clear UPSC CSE
      </h1>
      <div class="fs20">
        {{content}}
      </div>
      <div class=" get-course-button">
        {{>"upsc-essential-2025/common/button"}}
        <div class="discount-text">Avail 10% early bird discount</div>
      </div>
    </div>

    <div class="banner-images">
      <span class="abhijeet">{{>"icons/upsc-essential-2025/hero/abhijeet"}}<span class="hero-image-caption">Abhijeet
          Yadav<br />IIT Delhi, IIM C dropout
          <br />Cleared UPSC twice</span></span>
      <span class="shashank">{{>"icons/upsc-essential-2025/hero/shashank"}} <span class="hero-image-caption">Shashank
          Ratnoo<br />SC Advocate <br /> Cleared
          UPSC</span>
    </div>
  </div>
  {{/page}}
  <div class="essential__stats">
    <div class="stats-box-container">
      <div class="stats-box">
        <div class="stat-value">73</div>
        <div>Rank enabled<br />in 2 years</div>
      </div>
      <div class="stats-box">
        <div class="stat-value">11200</div>
        <div>Aspirants enrolled</div>
      </div>
      <div class="stats-box">
        <div class="stat-value">14</div>
        <div>Expert led courses</div>
      </div>
      <div class="stats-box">
        <div class="stat-value">78</div>
        <div>Practice tests</div>
      </div>
    </div>
  </div>
</div>