<div class="essential__hero">
  {{#page}}
  <div class="essential__banner container">
    <div class="home__intro mt2">
      <h1 class="upsc-essential__section-heading">Build a foundation for UPSC CSE going from basics to advanced skills
        with UPSC rankers as mentors.
        <span class="upsc-essential__section-heading-highlight">clear UPSC CSE
      </h1>
      <div class="fs20">
        {{content}}
      </div>
      <div class=" get-course-button">
        {{>"upsc-essential-2025/common/button"}}
        <div class="discount-text">Avail 10% early bird discount</div>
      </div>
    </div>

    <div class="banner-images">
      <div>
        <span class="abhijeet">{{>"icons/upsc-essential-2025/hero/abhijeet"}}<span class="hero-image-caption">Abhijeet
            Yadav<br />IIT Delhi, IIM C dropout
            <br />Cleared UPSC twice</span></span>
        <span class="shashank">{{>"icons/upsc-essential-2025/mentors/ketan"}} <span class="hero-image-caption">Ketan
            <br />IIT Delhi
            <br />Cleared UPSC CSE</span>
      </div>
      <div>
        <span class="abhijeet">{{>"icons/upsc-essential-2025/hero/shashank"}}<span class="hero-image-caption">Shashank
            Ratnoo<br />SC Advocate <br /> Cleared
            UPSC</span></span>
        <span class="shashank">{{>"icons/upsc-essential-2025/mentors/chandrashekhar"}} <span
            class="hero-image-caption">K
            Chandrashekar<br />Ex-IAS
            <br />IIM Bombay</span>
      </div>
    </div>
  </div>
  {{/page}}
  <div class="essential__stats">
    <div class="stats-box-container">
      <div class="stats-box">
        <div class="stat-value">73</div>
        <div>Rank enabled in<br />UPSC CSE 2021 & 22</div>
      </div>
      <div class="stats-box">
        <div class="stat-value">14</div>
        <div>Expert led courses</div>
      </div>
      <div class="stats-box">
        <div class="stat-value">56</div>
        <div>Practice tests</div>
      </div>
    </div>
  </div>
</div>