<div class="individual-course">
  <h1>Individual course for UPSC 2024</h1>
  <div class="individual-course-svg-wrapper">
    {{>"icons/upsc-essential/individual-course-list"}}
  </div>
  <div class="buy-buttons">
    <div>
      <button>Buy now</button>
    </div>
    <div>
      <button>Buy now</button>
    </div>
    <div>
      <button>Buy now</button>
    </div>
  </div>
</div>
<script>
  const individualCourseContainer = document.querySelector(".individual-course");
  const adjustBuyNowBtnForIndividualCourse = (buyNowBtn, courseFeatureTable) => {
    const courseRect = courseFeatureTable.getBoundingClientRect();
    buyNowBtn.style.left = `${courseRect.left - individualCourseContainer.getBoundingClientRect().left}px`;
    buyNowBtn.style.width = `${courseRect.width}px`;
    buyNowBtn.style.top = -(buyNowBtn.getBoundingClientRect().top - courseRect.bottom - 10) + "px"
  }

  const resizeBuyNowButtons = () => {
    const prelimsButton = document.querySelector(".individual-course .buy-buttons div:nth-child(1)");
    const prelimsCourseFeatureTable = document.querySelector("#prelimsCourse");
    const gsButton = document.querySelector(".individual-course .buy-buttons div:nth-child(2)");
    const gsCourseFeatureTable = document.querySelector("#gsCourse");
    const csatButton = document.querySelector(".individual-course .buy-buttons div:nth-child(3)");
    const csatCourseFeatureTable = document.querySelector("#csatCourse");
    adjustBuyNowBtnForIndividualCourse(prelimsButton, prelimsCourseFeatureTable);
    adjustBuyNowBtnForIndividualCourse(gsButton, gsCourseFeatureTable);
    adjustBuyNowBtnForIndividualCourse(csatButton, csatCourseFeatureTable);
  }

  resizeBuyNowButtons();
  window.addEventListener('resize', () => resizeBuyNowButtons());



</script>