<div class="essential__mentors">
  <div class="container">
    <h2 class="upsc-essential__section-heading">“I am thankful for the <span
        class="upsc-essential__section-heading-highlight">expert mentors from UPSCprep.com</span>. They provided
      me
      the right
      direction with individualised attention” - Aditya Patle IPS 2022</h2>
    <div class="mentor-single-row">
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/hero/abhijeet"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">Abhijeet Yadav<br />
            Cleared UPSC twice</div>
          <div class="description">Abhijeet Sir is chief mentor and co-founder of UPSCprep.com. He has enabled 78
            selections in UPSC CSE 2021 & 22.
          </div>
        </div>
      </div>
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/hero/shashank"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">Shashank Ratnoo
            <br />Cleared UPSC
          </div>
          <div class="description">Shashank Sir is co-founder at UPSCprep and master strategist for UPSC Mains. He is
            also an expert in reservation policies.
          </div>
        </div>
      </div>
    </div>
    <div class="mentor-single-row">
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/mentors/chandrashekhar"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">K Chandrashekhar<br />
            Ex- IAS</div>
          <div class="description">KCS Sir teaches Society and Sociology. Being an EX-IAS officer, he bring immense
            knowledge and practical examples in his teaching.
          </div>
        </div>
      </div>
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/mentors/ketan"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">Ketan <br />
            Cleared UPSC </div>
          <div class="description">Ketan Sir is Indian Economy faculty and his book The Indian Economy Handbook has
            simplified understanding of economy for aspirants.
          </div>
        </div>
      </div>
    </div>
    <div class="mentor-single-row">
      <div class="single-mentor-container">
        <div class="image-container-png">
          <img src="https://www.upscprep.com/content/images/2024/02/rohan_1.webp" />
        </div>
        <div class="single-mentor-text">
          <div class="name">Rohan Salunkhe<br />
            Ex- IAS</div>
          <div class="description">Rohan Sir teaches Ancient, medival history, art and culture and current affairs. He
            has cleared 4 successive UPSC Prelims.
          </div>
        </div>
      </div>
      <div class="single-mentor-container">
        <div class="image-container-png">
          <img src="https://www.upscprep.com/content/images/2024/02/krishna-min.webp" />
        </div>
        <div class="single-mentor-text">
          <div class="name">Krishna <br />
            Cleared UPSC
          </div>
          <div class="description">Krishna Sir teaches Environment and is a mentor for Sociology as he is NET JRF
            qualified and will be pursuing PHD in Sociology.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>