<div class="essential__mentors">
  <div class="container">
    <h2 class="upsc-essential__section-heading">“I am thankful for the <span
        class="upsc-essential__section-heading-highlight">expert mentors from UPSCprep.com</span>. They provided
      me
      the right
      direction with individualised attention” - Aditya Patle IPS 2022</h2>
    <div class="mentor-single-row">
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/hero/abhijeet"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">Abhijeet Yadav<br />
            Cleared UPSC twice</div>
          <div class="description">Abhijeet teaches polity for UPSC essential course. He is one of our trusted mentors
          </div>
        </div>
      </div>
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/hero/shashank"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">Shashank Ratnoo
            <br />Cleared UPSC
          </div>
          <div class="description">Abhijeet teaches polity for UPSC essential course. He is one of our trusted mentors
          </div>
        </div>
      </div>
    </div>
    <div class="mentor-single-row">
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/mentors/chandrashekhar"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">K Chandrashekhar<br />
            Ex- IAS</div>
          <div class="description">Abhijeet teaches polity for UPSC essential course. He is one of our trusted mentors
          </div>
        </div>
      </div>
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/mentors/ketan"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">Ketan <br />
            Cleared UPSC </div>
          <div class="description">Abhijeet teaches polity for UPSC essential course. He is one of our trusted mentors
          </div>
        </div>
      </div>
    </div>
    <div class="mentor-single-row">
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/mentors/chandrashekhar"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">K Chandrashekhar<br />
            Ex- IAS</div>
          <div class="description">Abhijeet teaches polity for UPSC essential course. He is one of our trusted mentors
          </div>
        </div>
      </div>
      <div class="single-mentor-container">
        <div class="image-container">
          {{>"icons/upsc-essential-2025/mentors/ketan"}}
        </div>
        <div class="single-mentor-text">
          <div class="name">Ketan <br />
            Cleared UPSC </div>
          <div class="description">Abhijeet teaches polity for UPSC essential course. He is one of our trusted mentors
          </div>
        </div>
      </div>
    </div>
  </div>
</div>